/src/.objs*
/src/devel*
/src/output*
*.layout
*.depend
autorevision.h
*.bmarks
Makefile.in
/build*
/configure
/aclocal.m4
/.last_revision
/autom4te.cache
/install-sh
/ltmain.sh
/missing
/revision.m4
/depcomp
*build_log.html
/src/include/config.h.in
*cscope_file_list
/config.guess
/config.sub
*.cbTemp
**/.cache
**/compile_commands.json
Makefile
Makefile
codeblocks.pc
codeblocks.spec
codeblocks.spec.fedora
compile
config.*
libtool
m4/*.m4
*/Makefile
*/*/.deps
*/*/.libs
*/*.o
*/*/*/.deps
*/*/*/.libs
*/*/*/.dirstamp
*/*/*.o
*/*/*.la
*/*/*.lo
*/*/*/*.o
*/*/*/*.la
*/*/*/*.lo
*/*/*/*/.deps
*/*/*/*/.libs
*/*/*/*/.dirstamp
*/*/*.gch
src/include/stamp-h1
*/*/*/*/*/.deps
*/*/*/*/*/.libs
*/*/*/*/*/.dirstamp
*/*/*/*/*/*/.deps
*/*/*/*/*/*/.libs
*/*/*/*/*/*/.dirstamp
*/*/*/*/*/*/*/.deps
*/*/*/*/*/*/*/.libs
*/*/*/*/*/*/*/.dirstamp
*/*/*/*/*/*/*/*/.deps
*/*/*/*/*/*/*/*/.libs
*/*/*/*/*/*/*/*/.dirstamp
*/*/*/*/*.la
*/*/*/*/*.lo
*/*/*/*/*/*.la
*/*/*/*/*/*.lo
*/*/*/*/*/*/*.la
*/*/*/*/*/*/*.lo
*/*/*/*/*/*/*/*.la
*/*/*/*/*/*/*/*.lo
*/*/*/*/*/*/*/*/*.la
*/*/*/*/*/*/*/*/*.lo
src/build_tools/autorevision/auto_revision
src/build_tools/autorevision/autorevision.o
src/plugins/*/*.zip
src/plugins/*/*/*.zip
src/plugins/*/*/*/*.zip
src/plugins/contrib/*/*/*/*.zip
src/plugins/contrib/wx*/*.pc
src/sdk/resources/manager_resources.zip
src/src/codeblocks
src/src/resources/resources.zip
src/src/resources/start_here.zip
src/tools/ConsoleRunner/cb_console_runner
src/tools/cb_share_config/cb_share_config
.cproject
.project
.settings/
src/plugins/*/*/.objs/
src/plugins/*/*/*.cbplugin
src/plugins/*/*/*.so

